@model TravelAgency.BusinessLayer.Service
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-wraper padd-90" style="margin-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="second-title">
                    <h4 class="subtitle color-dr-blue-2 underline">HİZMETLERİMİZ</h4>
                    <h2>@Model.Title</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="icon-block-entry col-xs-12 col-sm-12 col-md-12 clear-sm-2 clear-md-4">
                <div class="style-5" style="background-color:#f8f8f8; padding:20px;">
                    <div>
                        <p>
                            @Html.Raw(Model.Detail)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

