
@{
    ViewBag.Title = "Hakkımızda";
}


<div class="main-wraper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="second-title">
                    <h4 class="subtitle color-dr-blue-2 underline">Tarİhçe</h4>
                    <h2>“ ...kaybedecek vaktİnİz yok ve bİz bunu bİlİyoruz...”</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="simple-text">
                    <h3>Tarihçe</h3>
                    <p class="color-grey" style="text-align:justify;">
                        Adını Asya ve Avrupa kıtalarının kısaltmasından alan AS-AV Uluslararası Nakliyat, yalnız kıtalar arası değil aynı zamanda müşterilerinin isteklerine göre tüm destinasyonlarda ulaşımı yapılacak kargoları için de bir köprü vazifesi taşımaktadır.

                        Bu amaçla 1994 yılında Hava-Kargo Taşımacılığı ile faaliyetine başlamış ve kuruluşunun üzerinden bir yıl bile geçmeden IATA(International Air Transport Association) Lisansını alarak başarısını kanıtlamıştır. Ve 2000’ li yılların başından itibaren de Türkiye IATA sıralamasında ilk 5 te yerini almıştır.

                        Müşteri Memnuniyeti ilkesinin gerekleri doğrultusunda hizmetlerinin sınırını müşterilerinin lehine sürekli geliştiren AS-AV kısa zamanda gümrükleme, deniz taşımacılığı,öz varlıkları ile komple taşımacılık ve kara nakliyesini de bünyesine eklemiştir.

                        Günümüz dış ticaret koşullarında kaybedecek vaktiniz olmadığının bilinciyle, AS-AV’ ın öncelikli amacı, kargolarınız için en hızlı ve düşük maliyetli alternatifleri sağlamaktır. Bu noktada en büyük dayanağı siz değerli müşterilerinin yıllardır servislerine duyduğu güven sayesinde güçlenen konumudur.
                        Yurtiçi ve yurtdışı uçak biletlerinizde en uygun fiyat ve bağlantıları size sunar. IATA uçuşlarına hakim uzman kadrosuyla dünyanın her noktasına sizi en uygun, en kısa ve en rahat parkurları bularak yollar.

                        Uzman kadrosu özel ve titiz yaklaşımıyla, ayrıcalığınızı her zaman size hissettirir.Bütçenize uygun ödeme ve kredi koşullarını size sunar.

                        Uçak bağlantınızla ilgili yurtdışında otel, transfer, tur, tercih edilen dilde rehberlik, araç kiralama hizmetlerini yıllardır oluşturduğu uluslarası ortaklıkları sayesinde sorunsuz bir şekilde gerçekleştirir.

                        Desteğinizin ve iş/güç birliğimizin devamı dileklerimiz ile,

                        Saygılarımızla,
                    </p>
                </div>
            </div>
            <div class="col-mob-12 col-xs-6 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-0">
                <img class="img-responsive img-full" src="~/Images/inner/about.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="main-wraper bg-grey-2 padd-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="second-title">
                    <h4 class="subtitle color-dr-blue-2 underline">HİZMETLERİMİZ</h4>
                    <h2>SİZİn İÇİn buradayız</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="swiper-container" data-autoplay="0" data-loop="0" data-speed="1000" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="2" data-md-slides="3" data-lg-slides="4" data-add-slides="4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="icon-block style-2 bg-white">
                            <img class="icon-img bg-dr-blue-2 border-grey-2" src="~/Images/home_8/icon_1.png" alt="">
                            <h5 class="icon-title color-dark-2">ÖZEL TEKLİFLER</h5>
                            <div class="icon-text color-dark-2-light">
                                Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir.
                            </div>
                            <a href="#" class="c-button small bg-dr-blue-2 hv-dr-blue-2-o"><span>Detaylı BİLGİ</span></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="icon-block style-2 bg-white">
                            <img class="icon-img bg-dr-blue-2 border-grey-2" src="~/Images/home_8/icon_2.png" alt="">
                            <h5 class="icon-title color-dark-2">Denİz Turları</h5>
                            <div class="icon-text color-dark-2-light">
                                Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. 
                            </div>
                            <a href="#" class="c-button small bg-dr-blue-2 hv-dr-blue-2-o"><span>Detaylı BİLGİ</span></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="icon-block style-2 bg-white">
                            <img class="icon-img bg-dr-blue-2 border-grey-2" src="~/Images/home_8/icon_3.png" alt="">
                            <h5 class="icon-title color-dark-2">OTEL SEYAHATLARİ</h5>
                            <div class="icon-text color-dark-2-light">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir.</div>
                            <a href="#" class="c-button small bg-dr-blue-2 hv-dr-blue-2-o"><span>Detaylı BİLGİ</span></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="icon-block style-2 bg-white">
                            <img class="icon-img bg-dr-blue-2 border-grey-2" src="~/Images/home_8/icon_4.png" alt="">
                            <h5 class="icon-title color-dark-2">Güzel GEZİLER</h5>
                            <div class="icon-text color-dark-2-light">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir..</div>
                            <a href="#" class="c-button small bg-dr-blue-2 hv-dr-blue-2-o"><span>Detaylı BİLGİ</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



