
@{
    ViewBag.Title = "Mission_Vision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-wraper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="second-title">
                    <h4 class="subtitle color-dr-blue-2 underline">MİSYON & VİZYON</h4>
                    <h2>“ ...SİZİN DEĞERLİNİZ BİZİM DEĞERLERİMİZ...”</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="simple-text">
                    <h3>Mİsyonumuz ve Vİzyonumuz</h3>
                    <p class="color-grey" style="text-align:justify;">
                        Adını Asya ve Avrupa kıtalarının kısaltmasından alan AS-AV Uluslararası Nakliyat, yalnız kıtalar arası değil aynı zamanda müşterilerinin isteklerine göre tüm destinasyonlarda ulaşımı yapılacak kargoları için de bir köprü vazifesi taşımaktadır.

                        Bu amaçla 1994 yılında Hava-Kargo Taşımacılığı ile faaliyetine başlamış ve kuruluşunun üzerinden bir yıl bile geçmeden IATA(International Air Transport Association) Lisansını alarak başarısını kanıtlamıştır. Ve 2000’ li yılların başından itibaren de Türkiye IATA sıralamasında ilk 5 te yerini almıştır.

                        Müşteri Memnuniyeti ilkesinin gerekleri doğrultusunda hizmetlerinin sınırını müşterilerinin lehine sürekli geliştiren AS-AV kısa zamanda gümrükleme, deniz taşımacılığı,öz varlıkları ile komple taşımacılık ve kara nakliyesini de bünyesine eklemiştir.

                        Günümüz dış ticaret koşullarında kaybedecek vaktiniz olmadığının bilinciyle, AS-AV’ ın öncelikli amacı, kargolarınız için en hızlı ve düşük maliyetli alternatifleri sağlamaktır. Bu noktada en büyük dayanağı siz değerli müşterilerinin yıllardır servislerine duyduğu güven sayesinde güçlenen konumudur.
                        Yurtiçi ve yurtdışı uçak biletlerinizde en uygun fiyat ve bağlantıları size sunar. IATA uçuşlarına hakim uzman kadrosuyla dünyanın her noktasına sizi en uygun, en kısa ve en rahat parkurları bularak yollar.

                        Uzman kadrosu özel ve titiz yaklaşımıyla, ayrıcalığınızı her zaman size hissettirir.Bütçenize uygun ödeme ve kredi koşullarını size sunar.

                        Uçak bağlantınızla ilgili yurtdışında otel, transfer, tur, tercih edilen dilde rehberlik, araç kiralama hizmetlerini yıllardır oluşturduğu uluslarası ortaklıkları sayesinde sorunsuz bir şekilde gerçekleştirir.

                        Desteğinizin ve iş/güç birliğimizin devamı dileklerimiz ile,

                        Saygılarımızla,
                    </p>
                </div>
            </div>
            <div class="col-mob-12 col-xs-6 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-0">
                <img class="img-responsive img-full" src="~/Images/inner/about.jpg" alt="">
            </div>
        </div>
    </div>
</div>

